@model VMANpizza.Models.ViewModel.OrderPizza

@{
    ViewData["Title"] = "Create";
}
<head>
    <script>
        function addBacon() {
            var BacS = parseFloat(+document.getElementById("BacS").value);
            var BacM = parseFloat(+document.getElementById("BacM").value);
            var BacL = parseFloat(+document.getElementById("BacL").value);

            document.getElementById("totP").value = parseFloat(+document.getElementById("totP").value) + ((BacS * 2) + (BacM * 5) + (BacL * 7));
        }
        function addPepperoni() {
            var PepS = parseFloat(+document.getElementById("PepS").value);
            var PepM = parseFloat(+document.getElementById("PepM").value);
            var PepL = parseFloat(+document.getElementById("PepL").value);

            document.getElementById("totP").value = parseFloat(+document.getElementById("totP").value) + ((PepS * 2) + (PepM * 5) + (PepL * 7));
        }
        function addSalami() {
            var SalS = parseFloat(+document.getElementById("SalS").value);
            var SalM = parseFloat(+document.getElementById("SalM").value);
            var SalL = parseFloat(+document.getElementById("SalL").value);

            document.getElementById("totP").value = parseFloat(+document.getElementById("totP").value) + ((SalS * 2) + (SalM * 5) + (SalL * 7));
        }
        function addMushroom() {
            var MusS = parseFloat(+document.getElementById("MusS").value);
            var MusM = parseFloat(+document.getElementById("MusM").value);
            var MusL = parseFloat(+document.getElementById("MusL").value);

            document.getElementById("totP").value = parseFloat(+document.getElementById("totP").value) + ((MusS * 2) + (MusM * 5) + (MusL * 7));
        }
         function UpdatePrice() {
            var MusS = parseFloat(+document.getElementById("MusS").value);
            var MusM = parseFloat(+document.getElementById("MusM").value);
            var MusL = parseFloat(+document.getElementById("MusL").value);
            var SalS = parseFloat(+document.getElementById("SalS").value);
            var SalM = parseFloat(+document.getElementById("SalM").value);
             var SalL = parseFloat(+document.getElementById("SalL").value);
             var PepS = parseFloat(+document.getElementById("PepS").value);
            var PepM = parseFloat(+document.getElementById("PepM").value);
             var PepL = parseFloat(+document.getElementById("PepL").value);
             var BacS = parseFloat(+document.getElementById("BacS").value);
            var BacM = parseFloat(+document.getElementById("BacM").value);
            var BacL = parseFloat(+document.getElementById("BacL").value);
            document.getElementById("totP").value = ((MusS * 2) + (MusM * 4) + (MusL * 6)) +((BacS * 2) + (BacM * 5) + (BacL * 7)) + ((PepS * 2) + (PepM * 5) + (PepL * 7)) +((SalS * 3) + (SalM * 6) + (SalL * 8));
        }
    </script>
</head>

<h3>Our V-MAN Pizza</h3>

<p>
    <a asp-action="Create">Customize your V-MAN pizza</a>
</p>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid">
        <div class="m-md-4">
            <div class="row">
                <div class="col">
                    <a @*asp-action="" asp-controller=""*@>
                        <div class="box-img">
                            <img src="~/Images/Bronx-Bomber-379.2X379.2.jpg" />
                        </div>
                        <div class="box-text">
                            <p>Bacon V-MAN</p>
                        </div>
                        <ul>
                            <li>
                                <p>Small($2): <input asp-for="QtySbac" type="number" id="BacS" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <p>Medium($5): <input asp-validation-for="QtyMbac" type="number" id="BacM" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$3: <input type="checkbox"> <em>Medium</em></p>*@
                            </li>
                            <li>
                                <p>Large($7): <input asp-for="QtyLbac" type="number" id="BacL" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$5: <input type="checkbox"> <em>Large</em></p>*@
                            </li>
                        </ul>
                    </a>
                    @*<div>
                            <button align="right" type="submit" id="BacAdd" onclick="addBacon();" class="btn btn-danger">Add Order</button>
                        </div>*@
                </div>
                <div class="col">
                    <a @*asp-action="" asp-controller=""*@>
                        <div class="box-img">
                            <img src="~/Images/Buffalo-Chicken-300x300.jpg" />
                        </div>
                        <div class="box-text">
                            <p>Salami V-MAN</p>
                        </div>
                        <ul>
                            <li>
                                <p>Small($3): @*<input type="checkbox" checked="checked"> <em>Small</em>:*@ <input asp-for="QtySsal" type="number" id="SalS" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <p>Medium($6):<input asp-for="QtyMsal" type="number" id="SalM" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$3: <input type="checkbox"> <em>Medium</em></p>*@
                            </li>
                            <li>
                                <p>Large($8): <input asp-for="QtyLsal" type="number" id="SalL" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$5: <input type="checkbox"> <em>Large</em></p>*@
                            </li>
                        </ul>
                    </a>
                    @*<div>
                            <button align="right" type="submit" id="SalAdd" onclick="addSalami();" class="btn btn-danger">Add Order</button>
                        </div>*@
                </div>
                <div class="col">
                    <a @*asp-action="" asp-controller=""*@>
                        <div class="box-img">
                            <img src="~/Images/Margherita-500x500.jpg" />
                        </div>
                        <div class="box-text">
                            <p>Pepperoni V-MAN</p>
                        </div>
                        <ul>
                            <li>
                                <p>Small($2): @*<input type="checkbox" checked="checked"> <em>Small</em>:*@ <input asp-for="QtySpep" type="number" id="PepS" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <p>Medium($5): <input asp-for="QtyMpep" type="number" id="PepM" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$3: <input type="checkbox"> <em>Medium</em></p>*@
                            </li>
                            <li>
                                <p>Large($7): <input asp-for="QtyLpep" type="number" id="PepL" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$5: <input type="checkbox"> <em>Large</em></p>*@
                            </li>
                        </ul>
                    </a>
                    @*<div>
                            <button align="right" type="submit" id="PepAdd" onclick="addPepperoni();" class="btn btn-danger">Add Order</button>
                        </div>*@
                </div>
                <div class="col">
                    <a>
                        <div class="box-img">
                            <img src="~/Images/Wild-Mushroom-500x500.jpg" />
                        </div>
                        <div class="box-text">
                            <p>Mushroom V-MAN</p>
                        </div>
                        <ul>
                            <li>
                                <p>Small($2): Qty:<input asp-for="QtySmus" type="number" id="MusS" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <p>Medium($4): Qty:<input asp-for="QtyMmus" type="number" id="MusM" onclick="UpdatePrice();" value="0" /></p>

                            </li>
                            <li>
                                <p>Large($6): Qty:<input asp-for="QtyLmus" type="number" id="MusL" onclick="UpdatePrice();" value="0" /></p>

                            </li>
                        </ul>
                    </a>
                    @*<div>
                            <button align="right" type="submit" id="MusAdd" onclick="addMushroom();" class="btn btn-danger">Add Order</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div>
        <span>Total Price: $</span>
        <input type="text" id="totP" name="fname">
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-danger" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
