@model VMANpizza.Models.ViewModel.OrderPizza

@{
    ViewData["Title"] = "Create";
}
<head>
    <script>
        function addBacon() {
            var BacS = parseFloat(+document.getElementById("BacS").value);
            var BacM = parseFloat(+document.getElementById("BacM").value);
            var BacL = parseFloat(+document.getElementById("BacL").value);

            document.getElementById("totP").value = parseFloat(+document.getElementById("totP").value) + ((BacS * 8) + (BacM * 12) + (BacL * 17));
        }
        function addPepperoni() {
            var PepS = parseFloat(+document.getElementById("PepS").value);
            var PepM = parseFloat(+document.getElementById("PepM").value);
            var PepL = parseFloat(+document.getElementById("PepL").value);

            document.getElementById("totP").value = parseFloat(+document.getElementById("totP").value) + ((PepS * 7) + (PepM * 11) + (PepL * 14));
        }
        function addSalami() {
            var SalS = parseFloat(+document.getElementById("SalS").value);
            var SalM = parseFloat(+document.getElementById("SalM").value);
            var SalL = parseFloat(+document.getElementById("SalL").value);

            document.getElementById("totP").value = parseFloat(+document.getElementById("totP").value) + ((SalS * 11) + (SalM * 16) + (SalL * 19));
        }
        function addMushroom() {
            var MusS = parseFloat(+document.getElementById("MusS").value);
            var MusM = parseFloat(+document.getElementById("MusM").value);
            var MusL = parseFloat(+document.getElementById("MusL").value);

            document.getElementById("totP").value = parseFloat(+document.getElementById("totP").value) + ((MusS * 10) + (MusM * 14) + (MusL * 17));
        }
        function addCheese() {
            var CheS = parseFloat(+document.getElementById("CheS").value);
            var CheM = parseFloat(+document.getElementById("CheM").value);
            var CheL = parseFloat(+document.getElementById("CheL").value);

            document.getElementById("totP").value = parseFloat(+document.getElementById("totP").value) + ((CheS * 5) + (CheM * 10) + (CheL * 12));
        }
        function addChicken() {
            var ChkS = parseFloat(+document.getElementById("ChkS").value);
            var ChkM = parseFloat(+document.getElementById("ChkM").value);
            var ChkL = parseFloat(+document.getElementById("ChkL").value);

            document.getElementById("totP").value = parseFloat(+document.getElementById("totP").value) + ((ChkS * 10) + (ChkM * 14) + (ChkL * 18));
        }
         function UpdatePrice() {
            var MusS = parseFloat(+document.getElementById("MusS").value);
            var MusM = parseFloat(+document.getElementById("MusM").value);
            var MusL = parseFloat(+document.getElementById("MusL").value);
            var SalS = parseFloat(+document.getElementById("SalS").value);
            var SalM = parseFloat(+document.getElementById("SalM").value);
             var SalL = parseFloat(+document.getElementById("SalL").value);
             var PepS = parseFloat(+document.getElementById("PepS").value);
            var PepM = parseFloat(+document.getElementById("PepM").value);
             var PepL = parseFloat(+document.getElementById("PepL").value);
             var BacS = parseFloat(+document.getElementById("BacS").value);
            var BacM = parseFloat(+document.getElementById("BacM").value);
            var BacL = parseFloat(+document.getElementById("BacL").value);
             var CheS = parseFloat(+document.getElementById("CheS").value);
            var CheM = parseFloat(+document.getElementById("CheM").value);
            var CheL = parseFloat(+document.getElementById("CheL").value);
             var ChkS = parseFloat(+document.getElementById("ChkS").value);
            var ChkM = parseFloat(+document.getElementById("ChkM").value);
            var ChkL = parseFloat(+document.getElementById("ChkL").value);
            document.getElementById("totP").value = ((MusS * 10) + (MusM * 14) + (MusL * 17)) +((BacS * 8) + (BacM * 12) + (BacL * 17)) + ((PepS * 7) + (PepM * 11) + (PepL * 14)) +((SalS * 11) + (SalM * 16) + (SalL * 19)) +((CheS * 5) + (CheM * 10) + (CheL * 12)) +((ChkS * 10) + (ChkM * 14) + (ChkL * 18));
        }
    </script>
</head>

<h3>Our V-MAN Pizza</h3>

<p>
    <a asp-action="Create">Customize your V-MAN pizza</a>
</p>
<hr />

<form asp-action="PostOrder" asp-controller="Serv">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid">
        <div class="m-md-4">
            <div class="row">
                <div class="col">
                    <a @*asp-action="" asp-controller=""*@>
                        <div class="box-img">
                            <img src="~/Images/Margherita-500x500.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Bacon V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <p>Small: ($8)    <input asp-for="QtySbac" type="number" id="BacS" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <p>Medium: ($12) <input asp-validation-for="QtyMbac" type="number" id="BacM" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$3: <input type="checkbox"> <em>Medium</em></p>*@
                            </li>
                            <li>
                                <p>Large: ($17) <input asp-for="QtyLbac" type="number" id="BacL" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$5: <input type="checkbox"> <em>Large</em></p>*@
                            </li>
                        </ul>
                    </a>
                    @*<div>
                <button align="right" type="submit" id="BacAdd" onclick="addBacon();" class="btn btn-danger">Add Order</button>
            </div>*@
                </div>
                <div class="col">
                    <a @*asp-action="" asp-controller=""*@>
                        <div class="box-img">
                            <img src="~/Images/Buffalo-Chicken-300x300.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Salami V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <p>Small: ($11)    @*<input type="checkbox" checked="checked"> <em>Small</em>:*@ <input asp-for="QtySsal" type="number" id="SalS" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <p>Medium: ($16)<input asp-for="QtyMsal" type="number" id="SalM" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$3: <input type="checkbox"> <em>Medium</em></p>*@
                            </li>
                            <li>
                                <p>Large: ($19) <input asp-for="QtyLsal" type="number" id="SalL" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$5: <input type="checkbox"> <em>Large</em></p>*@
                            </li>
                        </ul>
                    </a>
                    @*<div>
                <button align="right" type="submit" id="SalAdd" onclick="addSalami();" class="btn btn-danger">Add Order</button>
            </div>*@
                </div>
                <div class="col">
                    <a @*asp-action="" asp-controller=""*@>
                        <div class="box-img">
                            <img src="~/Images/Wild-Mushroom-500x500.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Pepperoni V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <p>Small: ($7)    <input asp-for="QtySpep" type="number" id="PepS" onclick="UpdatePrice();" value="0" /></p>
                                @*<input type="checkbox" checked="checked"> <em>Small</em>:*@
                            </li>
                            <li>
                                <p>Medium: ($11) <input asp-for="QtyMpep" type="number" id="PepM" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$3: <input type="checkbox"> <em>Medium</em></p>*@
                            </li>
                            <li>
                                <p>Large: ($14) <input asp-for="QtyLpep" type="number" id="PepL" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$5: <input type="checkbox"> <em>Large</em></p>*@
                            </li>
                        </ul>
                    </a>
                    @*<div>
                <button align="right" type="submit" id="PepAdd" onclick="addPepperoni();" class="btn btn-danger">Add Order</button>
            </div>*@
                </div>
                <div class="col">
                    <a>
                        <div class="box-img">
                            <img src="~/Images/mushroom.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Mushroom V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <p>Small: ($10)    :<input asp-for="QtySmus" type="number" id="MusS" onclick="UpdatePrice();" value="0" /></p>
                            </li>
                            <li>
                                <p>Medium: ($14) :<input asp-for="QtyMmus" type="number" id="MusM" onclick="UpdatePrice();" value="0" /></p>

                            </li>
                            <li>
                                <p>Large: ($17) :<input asp-for="QtyLmus" type="number" id="MusL" onclick="UpdatePrice();" value="0" /></p>

                            </li>
                        </ul>
                    </a>
                    @*<div>
                <button align="right" type="submit" id="MusAdd" onclick="addMushroom();" class="btn btn-danger">Add Order</button>
            </div>*@
                </div>
                <div class="col">
                    <a @*asp-action="" asp-controller=""*@>
                        <div class="box-img">
                            <img src="~/Images/pepperoni pizza-800x800.png" />
                        </div>
                        <div class="box-text">
                            <h3>Cheese V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <p>Small: ($5)    <input asp-for="QtySche" type="number" id="CheS" onclick="UpdatePrice();" value="0" /></p>
                                @*<input type="checkbox" checked="checked"> <em>Small</em>:*@
                            </li>
                            <li>
                                <p>Medium: ($10) <input asp-for="QtyMche" type="number" id="CheM" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$3: <input type="checkbox"> <em>Medium</em></p>*@
                            </li>
                            <li>
                                <p>Large: ($12) <input asp-for="QtyLche" type="number" id="CheL" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$5: <input type="checkbox"> <em>Large</em></p>*@
                            </li>
                        </ul>
                    </a>
                    @*<div>
                <button align="right" type="submit" id="PepAdd" onclick="addPepperoni();" class="btn btn-danger">Add Order</button>
            </div>*@
                </div>
                <div class="col">
                    <a @*asp-action="" asp-controller=""*@>
                        <div class="box-img">
                            <img src="~/Images/original_bocce.jpg" />
                        </div>
                        <div class="box-text">
                            <h3>Chicken V-MAN</h3>
                        </div>
                        <ul>
                            <li>
                                <p>Small: ($10)    <input asp-for="QtySchk" type="number" id="ChkS" onclick="UpdatePrice();" value="0" /></p>
                                @*<input type="checkbox" checked="checked"> <em>Small</em>:*@
                            </li>
                            <li>
                                <p>Medium: ($14) <input asp-for="QtyMchk" type="number" id="ChkM" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$3: <input type="checkbox"> <em>Medium</em></p>*@
                            </li>
                            <li>
                                <p>Large: ($18) <input asp-for="QtyLchk" type="number" id="ChkL" onclick="UpdatePrice();" value="0" /></p>
                                @*<p>$5: <input type="checkbox"> <em>Large</em></p>*@
                            </li>
                        </ul>
                    </a>
                    @*<div>
                <button align="right" type="submit" id="PepAdd" onclick="addPepperoni();" class="btn btn-danger">Add Order</button>
            </div>*@
                </div>
            </div>
        </div>
    </div>
    @*<div class="float-right">*@
        <div>
            <span>Total Price: $</span>
            <input type="text" id="totP" name="fname">
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-danger" />
        </div>
    @*</div>*@
</form>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
