@model VMANpizza.Models.ViewModel.OrderPizza

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderPizza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="QtySbac" class="control-label"></label>
                <input asp-for="QtySbac" class="form-control" />
                <span asp-validation-for="QtySbac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyMbac" class="control-label"></label>
                <input asp-for="QtyMbac" class="form-control" />
                <span asp-validation-for="QtyMbac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyLbac" class="control-label"></label>
                <input asp-for="QtyLbac" class="form-control" />
                <span asp-validation-for="QtyLbac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtySsal" class="control-label"></label>
                <input asp-for="QtySsal" class="form-control" />
                <span asp-validation-for="QtySsal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyMsal" class="control-label"></label>
                <input asp-for="QtyMsal" class="form-control" />
                <span asp-validation-for="QtyMsal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyLsal" class="control-label"></label>
                <input asp-for="QtyLsal" class="form-control" />
                <span asp-validation-for="QtyLsal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtySpep" class="control-label"></label>
                <input asp-for="QtySpep" class="form-control" />
                <span asp-validation-for="QtySpep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyMpep" class="control-label"></label>
                <input asp-for="QtyMpep" class="form-control" />
                <span asp-validation-for="QtyMpep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyLpep" class="control-label"></label>
                <input asp-for="QtyLpep" class="form-control" />
                <span asp-validation-for="QtyLpep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtySmus" class="control-label"></label>
                <input asp-for="QtySmus" class="form-control" />
                <span asp-validation-for="QtySmus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyMmus" class="control-label"></label>
                <input asp-for="QtyMmus" class="form-control" />
                <span asp-validation-for="QtyMmus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyLmus" class="control-label"></label>
                <input asp-for="QtyLmus" class="form-control" />
                <span asp-validation-for="QtyLmus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customerId" class="control-label"></label>
                <input asp-for="customerId" class="form-control" />
                <span asp-validation-for="customerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orderId" class="control-label"></label>
                <input asp-for="orderId" class="form-control" />
                <span asp-validation-for="orderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
