@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome V-MAN Pizza</h1>
        <div class="jumbotron" style="background-color:aliceblue">
            <h1>V-MAN Pizza</h1>
            <p>Home to the best pizza ever made by men.</p>
            <button type="button" class="btn btn-outline-warning" asp-controller="OrderPizzas" asp-action="Create">Place your order</button>
        </div>
    </div>
