@model VMANpizza.Models.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*This ajax below is used for test purposes to retrieve api data*@


@*<script>
$('#getCustomer').click(function (e) {
    $("#getCustomerResult").val("");
    var url = "http://localhost:51105/api/CustomerAPI/";
    $.ajax({
        contentType: 'application/json',
        type: "POST",
        url: url,
        success: function (data, textStatus, jqXHR) {
            alert("Something");
            //document.getElelementById("getCustomerResult").innerHTML = data.customer;
            //data.forEach(function (customer)
            //{
            //    $("#getCustomerResult").val($("#getCustomerResult").val() + customer.email + "|");
            //});
        },
        error: function (jqXHR, textStatus, errorThrown) {
            $("#getCustomerResult").val(jqXHR.statusText);
        }
    });
});
</script>*@